.messenger-component {
    position: relative;
    width: 500px;
    height: inherit;
}
.messenger-view {
    height: 70%;
    overflow: auto;
    margin: 10px 0 auto auto;
}

ul.chat {
    list-style-type: none;
}

.chat-head {
    vertical-align: top;
    margin-right: 10px;
}

.chat-head.is-even {
    vertical-align: top;
    margin-left: 10px;
}

.chat-content {
    padding: 10px;
}

.chat-body {
    width: 400px;
}

.chat-body .message-content {
    border: #cccccc 1px solid;
    padding: 5px;
    border-radius: 10px;
    box-shadow: #CCC 1px 1px 1px 1px;
}

.chat-body .header {
    margin-left: 5px;
}

.messenger-author .user-input.form-control {
    width: 400px;
    resize: none;
    padding: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.messenger-author .send-button,
.messenger-author .clear-button {
    width: 40px;
    height: 92px;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-color: #ccc;
    vertical-align: top;
}

.messenger-author .clear-button:not(:hover) {
    color: #AAAAAA;
}

.messenger-author .send-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.messenger-author {
    padding: 10px;
}

.chat-img {
    height: 50px;
    width: 50px;
}

.chat-img .user-avatar {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.messenger-view::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.messenger-view::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.messenger-view::-webkit-scrollbar-thumb {
    background-color: #AAA;
    border-radius: 10px;
}