<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>spoqn</title>
    </head>
    <body>
        <div class="spoqn-app" id="spoqn-app"></div>
        <script type="text/javascript" src="bundle.js"></script>
    </body>
</html>