.custom-tooltip .tooltip-content {
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    z-index: 1;
}

.custom-tooltip {
    position: absolute;
    left: 33.33%;
    bottom: 20%;
    opacity: 0;
    transition: opacity 1s;
    visibility: hidden;
    width: 120px;
    cursor: pointer;
}

.custom-tooltip.show {
    visibility: visible;
    opacity: 1;
}